<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./muban.css">
	<script src="jquery-1.12.3.min%20(1).js"></script>
	<script src="clipboard.js"></script>
	<script src="headjs.js"></script>
</head>
<body>
<button id="c-1">sssssss</button>
<div id="m-1">
	<div id="c-2">
		<div id="c-3">
			<div id="c-4">
			</div>
		</div>
	</div>
</div>

<input id="foo" type="text">
<button id="copyBtn" data-clipboard-target="#foo">aaaaaaa</button>
<div class="ff">
	<div class="gg">
		<div class="nn"></div>
	</div>
	<div class="oo"></div>
</div>
<button type="button" class="btn"></button>
<div class="f1">
	<div class="c1"></div>
</div>
<div id="one" class="ls aa">
	<div id="two">
		<div id="three">
			<div id="four"></div>
		</div>
	</div>
</div>
<button id="eight">按钮</button>

<div id="seven"></div>
<input type="text" id="five">
<div>下面是文件input</div>
<input type="file" id="fileInput1" multiple>

<div id="six"></div>
<canvas width="400" height="400" id="canvas1"></canvas>
<div class="jj">
	<div class="hh"></div>
</div>
<script>

</script>
<script id="test" type="text/html">
	<% if (title){ %>
	<% for (var i=0;i<list.length;i++) { %>
	<div><%=list[i]%></div>
	<%}%>
	<%}%>
</script>
	<script  src="index.js"></script>
</body>
</html>