@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin absolute-center {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.f1{
  position: relative;
  height: 100%;
  width: 400px;
  background-color: #1b1818;
  @include clearfix;
  .c1 {


@include absolute-center;
    width: 20px;
    height: 20px;
    background-color: #00b0e8;
  }
;
}
body{
  margin: 20px 10px;

}
#one{
  position: relative;
  padding: 20px;
  width: 200px;
  height: 200px;
  background-color:red;
}
#two{
  position: relative;
  padding: 20px;
  width: 160px;
  height: 160px;
  background-color: azure;
}
#three{
  position: relative;
  padding: 20px;
  width: 120px;
  height: 120px;
  background-color:blue;
}
#four{
  position: absolute;
  padding: 20px;
  width: 120px;
  height: 120px;
  border: 5px solid black;
  margin: 2px;
  background-color: #aaaaaa;
}
#six{
  position: relative;
  height: 600px;
  background-color: blueviolet;
}
.jj{
box-sizing: border-box;
  height: 80px;
  width: 80px;
  margin: 20px;
  padding: 20px;
  border: 20px solid red;
  .hh{
    width: 100%;
    height: 100%;
  }
}
.btn{
}
.ff{
  width: 100px;
  height: 100px;
  background-color: #00b0e8;
  .gg{
    height: 50px;
    width: 50px;
    background-color: #1b1818;
    zoom: .5;
    .nn{
    width: 100%;
      height: 100%;
      background-color: #fff;
      
  }
  }
  .oo{
    height: 25px;
    width: 25px;
    background-color: #2c009f;

  }
}
#m-1{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00b0e8;
}
#c-2{
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  #c-3{
    width: 300px;
    height: 300px;
    background-color: brown;
    #c-4{
      width: 200px;
      height: 200px;
      background-color: green;
    }
  }
}
