<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./muban.css">
	<script src="jquery-1.12.3.min%20(1).js"></script>
	<script src="../我的库/插件/jQuery.xiaobxia.js"></script>
	<script src="../我的库/xbx.js"></script>
	<script src="headjs.js"></script>
</head>
<body>
<div id="one">
	<div id="two">
		<div id="three">
			<div id="four"></div>
		</div>
	</div>
</div>
<button id="eight"></button>

<div id="seven"></div>
<input type="text" id="five">

<div id="six"></div>
<script id="test" type="text/html">
	<% if (title){ %>
	<% for (var i=0;i<list.length;i++) { %>
	<div><%=list[i]%></div>
	<%}%>
	<%}%>
</script>
	<script  src="./muban.js"></script>
</body>
</html>