#one{
    position: relative;
    padding: 20px;
    width: 200px;
    height: 200px;
    background-color:red;
}
#two{
    position: relative;
    padding: 20px;
    width: 160px;
    height: 160px;
    background-color: azure;
}
#three{
    position: relative;
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color:blue;
}
#four{
    position: relative;
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color: #aaaaaa;
}
